.snakemake

# Aligner index directories
/*_index_*/

# HISAT2 index download
grch38_snp_tran.tar.gz
/chrom_mapping_*

# Various data file types
/*.2bit
/*.fa
/*.fai
/*.gff
/*.gtf
/*.gff3
*.sqlite3

# Other
